* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Karla", sans-serif;
  list-style: none;
  border: none;
}

body {
  background-color: hsl(206, 47%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  width: 600px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.first-container,
.sec-container,
.thi-container {
  padding-left: 20px;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.first-container {
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding-bottom: 2rem;
}

.first-container h2 {
  color: rgb(33, 168, 168);
  padding-left: 15px;
  padding-top: 15px;
}

.first-container h3 {
  padding-top: 25px;
  padding-left: 15px;
  color: rgb(123, 232, 14);
}

.first-container p {
  padding-left: 15px;
  padding-top: 18px;
  padding-right: 40px;
  color: hsl(218, 22%, 67%);
  line-height: 25px;
}

.lower-container {
  display: flex;
}

.sec-container {
  width: 50%;
  background-color: hsl(179, 61%, 44%);
  border-bottom-left-radius: 7px;
}

.sec-container h3 {
  color: white;
  padding-top: 30px;
  padding-left: 15px;
}

.price {
  display: flex;
  align-items: center;
}

.price-value h1 {
  color: white;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 35px;
}

.price-validity p {
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  color: hsl(204, 43%, 93%);
}

.sec-container .access {
  padding-top: 10px;
  padding-left: 15px;
  color: white;
  font-size: 15px;
}

.btn {
  height: 48px;
  width: 100%;
  margin-top: 36px;
  margin-left: 15px;
  border-radius: 5px;
  color: white;
  background-color: rgb(123, 232, 14);
  font-size: 16px;
}

.thi-container {
  width: 50%;
  background-color: hsl(179, 62%, 43%);
  border-bottom-right-radius: 7px;
}

.thi-container h3 {
  color: white;
  padding-top: 30px;
  padding-left: 15px;
}

.list {
  padding-top: 35px;
  padding-left: 15px;
}

.list ul li {
  padding-bottom: 3px;
  color: hsl(204, 43%, 93%);
}

@media (max-width: 700px) {
  body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .container {
    width: 100%;
    margin: 0 10px;
  }

  .first-container {
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .first-container h2 {
    font-size: 22px;
  }

  .first-container h3 {
    font-size: 14px;
    padding-top: 15px;
  }

  .first-container p {
    font-size: 15px;
    padding-right: 0;
  }

  .lower-container {
    flex-direction: column;
  }

  .sec-container,
  .thi-container {
    padding-left: 16px;
    width: 100%;
  }

  .price-validity p {
    padding-left: 10px;
  }

  .thi-container {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .first-container h2,
  .first-container h3,
  .first-container p {
    padding-left: 0;
  }

  .list {
    padding-left: 0px;
  }

  .sec-container h3,
  .price-value h1,
  .sec-container .access,
  .list ul li {
    padding-left: 0;
  }

  .sec-container {
    border-radius: 0;
  }

  .thi-container h3 {
    padding-left: 0px;
  }

  .btn {
    margin-left: 0;
    width: 102%;
  }
}
